<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">
<link rel="stylesheet" href="/stylesheets/show.css">

    <div class="row">
        <div class="col-6">
            <div id="campgroundCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <% campground.images.forEach((img, i) => { %> 
                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                            <img src="<%= img.url %>" class="d-block w-100" alt="">
                        </div>
                    <% }) %>
                </div>
                <% if (campground.images.length > 1) { %> 
                <a class="carousel-control-prev" href="#campgroundCarousel" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#campgroundCarousel" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
                <% } %> 
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <span><%= campground.reviews.length %> Reviews</span>
                    <p class="starability-result" data-rating=<%= averageReview %>></p>
                    <p class="card-text"><%= campground.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted"><%= campground.location %></li>
                    <li class="list-group-item">Submitted by <%= campground.author.username %> </li>
                    <li class="list-group-item">$<%= campground.price %>/night</li>
                    <li class="list-group-item">
                        <ul class="list-group list-group-flush" id="amenities"><b>Property amenities:</b>
                        <% if (campground.freeParking) { %> 
                            <li class="list-group-item"><i class="fas fa-parking"></i>&nbsp;&nbsp;Free Parking</li>
                        <% } %> 
                        <% if (campground.freeInternet) { %> 
                            <li class="list-group-item"><i class="fas fa-wifi"></i>&nbsp;&nbsp;Free Internet</li>
                        <% } %>
                        <% if (campground.lockersStorage) { %> 
                            <li class="list-group-item"><i class="fas fa-lock"></i>&nbsp;&nbsp;Lockers / storage</li>
                        <% } %> 
                        <% if (campground.childrenActivities) { %> 
                            <li class="list-group-item"><i class="fas fa-child"></i>&nbsp;&nbsp;Children Activities (Kid / Family Friendly)</li>
                        <% } %> 
                        <!-- <% if (campground.outdoorEquipment) { %> 
                            <li class="list-group-item">Kids' outdoor play equipment</p>
                        <% } %>  -->
                        <% if (campground.petsAllowed) { %>
                            <li class="list-group-item"><i class="fas fa-paw"></i>&nbsp;&nbsp;Pets Allowed ( Dog / Pet Friendly )</li>
                        <% } %> 
                        <% if (campground.laundry) { %>
                            <li class="list-group-item"><i class="fas fa-socks"></i>&nbsp;&nbsp;Self-serve laundry</li>
                        <% } %> 
                        <% if (campground.Pool) { %> 
                            <li class="list-group-item"><i class="fas fa-swimmer"></i>&nbsp;&nbsp;Pool</li>
                        <% } %> 
                        <% if (campground.tennisCourt) { %> 
                            <li class="list-group-item"><i class="fas fa-table-tennis"></i>&nbsp;&nbsp;Tennis court</li>
                        <% } %> 
                        <% if (campground.barLounge) { %> 
                            <li class="list-group-item"><i class="fas fa-glass-martini"></i>&nbsp;&nbsp;Bar / lounge</li>
                            <!-- <p><i class="fas fa-couch"></i></p> -->
                        <% } %> 
                        <% if (campground.canoeing) { %> 
                            <li class="list-group-item"><i class="fas fa-ship"></i>&nbsp;&nbsp;Canoeing</li>
                        <% } %>
                    </ul>
                    </li>
                </ul>
                <% if (currentUser && campground.author.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a href="/campgrounds/<%=campground._id%>/edit" class="card-link btn btn-info">Edit</a>
                        <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                <% } %>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>

        <div class="col-6">
            <div id='map'></div>
            <% if (currentUser) { %> 
            <h2>Leave a Review</h2>
            <form action="/campgrounds/<%=campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
                <fieldset class="starability-basic">
                    <input type="radio" id="first-no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div class="mb-3">
                    <label class="form-label" for="body">Review Text:</label>
                    <textarea class="form-control" type="text" id="body" name="review[body]" col="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Look good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% } %> 
            <% for (let review of campground.reviews) { %> 
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><%= review.author.username %></h5>
                        <h6 style="font-size: smaller;" class="card-subtitle mb-2 text-muted"><%= review.date %> </h6>
                        <p id="stars-result" class="starability-result" data-rating=<%= review.rating %>>
                            <!-- Rated: 3 stars -->
                        </p>
                        <p id="review-body" class="card-text" style="white-space: pre-wrap;"><%= review.body %></p>
                        <% if (currentUser && review.author.equals(currentUser._id)) { %> 
                            <span id="buttons">
                                <button type="button" onclick="editReview()" class="btn btn-sm btn-info">Edit</button>
                                <form class="d-inline" action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </span>

                            <script>
                                function editReview() {
                                    document.getElementById('edit-form').style.display='block';
                                    document.getElementById('review-body').style.display='none';
                                    document.getElementById('stars-result').style.display='none';
                                    document.getElementById('buttons').style.display='none';
                                    document.getElementById('second-rate' + <%= review.rating %>).checked = true;
                                }

                                function cancelEdit() {
                                    document.getElementById('edit-form').style.display='none';
                                    document.getElementById('review-body').style.display='block';
                                    document.getElementById('stars-result').style.display='block';
                                    document.getElementById('buttons').style.display='block';
                                }
                            </script>
                            <form id="edit-form" action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=PUT" method="POST" class="mb-3 validated-form" novalidate style="display: none;">
                                    <fieldset id="edit-stars" class="starability-basic">
                                        <input type="radio" id="second-no-rate" class="input-no-rate" name="review[rating]" value="3" checked aria-label="No rating." />
                                        <input type="radio" id="second-rate1" name="review[rating]" value="1" />
                                        <label for="second-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="second-rate2" name="review[rating]" value="2" />
                                        <label for="second-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="second-rate3" name="review[rating]" value="3" />
                                        <label for="second-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="second-rate4" name="review[rating]" value="4" />
                                        <label for="second-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="second-rate5" name="review[rating]" value="5" />
                                        <label for="second-rate5" title="Amazing">5 stars</label>
                                      </fieldset>
                                <div class="mb-3">
                                    <!-- <label class="form-label" for="body"></label> -->
                                    <textarea class="form-control" type="text" id="edit-body" name="review[body]" col="30" rows="3" required><%= review.body %></textarea>
                                    <script>
                                        const text = document.getElementById('edit-body');
                                        const lines = text.value.split(/\r|\r\n|\n/);
                                        const count = lines.length;
                                        text.rows = count;
                                    </script>
                                    <div class="valid-feedback">
                                        Look good!
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-success">Save</button>
                                <button type="button" onclick="cancelEdit()" class="btn btn-sm btn-danger">Cancel</button>
                            </form>
                        <% } %> 
                    </div>
                </div>
            <% } %> 
        </div>
    </div>


    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        const campground = <%- JSON.stringify(campground) %>;
    </script>
    <script src="/javascripts/showPageMap.js"></script>
